body, header, section, footer, div, h1, h2, h3, h4, h5, p, ul, li
    margin: 0
    padding: 0

body
    font-family: "Lucida Console","Lucida Sans Typewriter",Monaco,"Bitstream Vera Sans Mono",monospace
    font-size: 11px

.clear
    clear: both

#background
    position: fixed
    background-color: #000000
    opacity: 0.85
    z-index: -1
    top: 0
    bottom: 0
    left: 0
    right: 0

#content
    pre
        padding: 0rem 0.5rem
        color: #ffffff
        margin-bottom: 1.6rem

footer
    position: fixed
    bottom: 0
    width: 100vw;
    nav
        background-color: #000000
        opacity: 0.8
        ul
            float: left
            list-style: none
            li
                float: left
                a
                    color: #ffffff
                    cursor: pointer
                    float: left
                    padding: 0.25rem
                    &:hover
                        color: #ff0000
                input[type="text"]
                    border: none
                    background-color: #ffffff
                    width: 10.0rem
        ul:nth-child(1)
            padding-right: 0.1rem;
            margin-right: 0.4rem;
            border-right: 1px solid #ffffff;

